@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Urbanist:wght@400;600&display=swap');

:root {
	--black: #1B2430;
	--gray: #9BA4B5;
	--white: #F1F6F9;
	--purple: #576CBC;
}

/* General styles */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url('https://products.ls.graphics/mesh-gradients/images/24.-Sky-Blue_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}

/* Navbar styles */
.heading {
	width: 100%;
	margin: 1.75em 0;
}

.heading__navbar {
	max-width: 1120px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.heading__logo {
	font-family: 'Urbanist', sans-serif;
	font-size: 1.125em;
	font-weight: 600;
	color: var(--black);
}

.heading__link svg {
	fill: var(--black);
}